.content {
    color:#000;
    /*width: 60%;*/
    text-align: center;
    margin: auto;
    padding: 50px 0;
}
.content a{
    color: #828282;
}
.content h4{
    width:65%;
    margin:0 auto;
    font-size:15px;
    color:#999999;
    line-height:30px;    
}
.main p{
    color: #838385;
}