.pic-box {
    position: relative;
    height: 490px;
    overflow: hidden;
}

/*#duty .word {*/
    /*position: absolute;*/
    /*top: 6%;*/
    /*left: 15%;*/

/*}*/

/*#duty .word .title {*/
    /*font-size: 70px;*/
    /*color: white;*/
/*}*/

/*#duty .word .en {*/
    /*font-size: 63px;*/
    /*color: white;*/
/*}*/

 .content {
    padding: 20px 0 240px;
    color: black;
    text-align: center;
}

 .content > p {
    text-align: left;
    margin-bottom: 90px;
    margin-top: 50px;
}

 .content > p >span a {
    color: #828282;
}

 .content a img {
    width: 320px;
    height: 240px;
}

 .content h2 {
    font-weight: bold;
    margin-bottom: 50px;
}

 .content .list1 > li {
    text-align: left;
    color: #828282;
}

 .content .list1 > li .name {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #0b766f;
    border-bottom: 2px solid #0b766f;
    margin-bottom: 45px;
}

 .content .list1 > li > img {
    width: 100%;
    max-width: 320px;
}

 .content .list1 > li .title {
    text-align: left;
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    height: 46px;
}


 .more {
    float: right;
    height: 30px;
    position: relative;
    line-height: 30px;
    font-size: 14px;
    top: -4px;
    right: 0;
}

 .more a {
    color: #5a358e;
}

 .more .icon {
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url("/public/img/home/index/main_icon.png") no-repeat;
}



 .content .list2 > li {
    overflow: hidden;
    margin-bottom: 10px;
}

 .list1 .title, #duty .list1 .list2 {
    max-width: 300px;
}
.list1 .title, #duty .list1 .list2 div{
    height: 19px;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.list2 li::after {
    clear:both;
}

.li-left {
    float:left;
    width:10px;
    margin-left:0px;
}
.li-right {
    float:right;
    width:286px;
    margin-right:0px;
}

.border {
    border:1px solid #000;
}