h2{
    color: #404040;
    font-size: 2rem;
    font-weight: bold;
}
h3{
    color: #404040;
    font-size: 1.8rem;
    font-weight: bold;
}

.bg{
    position: relative;
}
.txt{
    position: absolute;
    top:5rem;
    left: 60%;
}
h4{
    color: #606060;
    font-size: 1.6rem;
    font-weight: bold;
}
