#map {
    width: 100%;
    height: 320px;
}

#results {
    width: 100%;
    height: 263px;
    overflow: auto;
}

ul {
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 5%;
}

#results > div {
    border: 0;
    outline: none;
}

#results div ol li {
   background:#f0f0f0;
    margin-bottom: 10px;
}


.active {
    color: #ff0011;
    border-bottom: #ff0011 1px solid;
}